.form {
  text-align: center;

  &-element {
    width: 100%;
    max-width: 330px;
    display: inline-block;
    padding: 20px;
    margin-top: $spacing;
    font-size: $font-size-small;
    background-color: #161b22;
    border: $border;
    border-radius: 6px;
  }

  &-title {
    margin-bottom: $spacing;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
  }

  &-error {
    display: block;
    margin: $spacing 0;
  }

  &-copy {
    width: 100%;
    max-width: 330px;
    display: inline-block;
    padding: 15px 20px;
    font-size: $font-size-small;
    border: 1px solid $alert;
    background-color: $alert;
    transition-property: visibility, opacity;
    transition: $animation-duration $animation-timing;
    visibility: hidden;
    opacity: 0;

    &[aria-hidden="false"] {
      visibility: visible;
      opacity: 1;
    }
  }
}
