.overlay {
  @include size(100vw, 100vh);

  padding-top: 106px;
  position: fixed;
  top: 0;
  left: 0;
  background: $coal;
  opacity: 1;
  visibility: visible;

  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
  }
}
