.input {
	font-size: $font-size-small;
	font-weight: $font-weight-light;
	line-height: 20px;
	color: #c9d1d9;
	width: 100%;
	padding: 5px 12px;
	margin: 5px 0 15px;
	display: inline-block;
	background-color: #0d1117;
	border: 1px solid #30363d;
	border-radius: 6px;
  box-shadow: var(--color-shadow-inset);
	transition: border-color $animation-duration $animation-timing;
	cursor: text;
	outline: none;
  vertical-align: middle;
	appearance: none;

	&:focus {
		border-color: #1f6feb;
	}
}

.label {
	display: block;
	font-weight: $font-weight-light;
	margin-bottom: 8px;
	text-align: left;
}
